*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.nav-container {
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    margin-bottom: 4rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.navigation a{
    color: black;
    margin: 15px;
    font-size: 1.1rem;
}

.navigation a:hover{
    color: gray;
}

