<section>
    <div class="form-container">
        <h3>New Person</h3>
        <div class="form">
            <label for="nome">Nome</label>
            <input type="text" placeholder="Enter Name..." [(ngModel)]="nome">
            <label for="nome">Avatar URL</label>
            <input type="url" placeholder="Enter Image URL..." [(ngModel)]="avatar">
            <label for="nome">Date of Birth</label>
            <input type="text" placeholder="Enter DOB..." [(ngModel)]="dob">
            <label for="nome">Position</label>
            <input type="text" placeholder="Enter Position..." [(ngModel)]="position">
            <button (click)="onClickPost()">Add</button>
        </div>
    </div>
</section>
