* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    width: 80%;
	margin: auto;
}

.form-container {
    margin: 1rem;
}

label {
    margin: 1rem;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding: 15px 10px;
    margin: 1rem;
}

button {
    margin: auto;
    margin-top: 2rem;
    width: 30%;
    padding: 8px 5px;
    font-size: 15px;
    background: lightcoral;
    border-color: transparent;
    color: #fff;
}

button:hover {
    background: coral;
    border-color: transparent;
}

input {
    height: 1.4rem;
}

