<body>
    <section>
        <div class="contenitore-listacomp">
            <div class="scatola-listacomp">
                <table>
                    <thead>
                        <tr>
                            <th>Console</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of categorie$ | async">
                            <td>{{ c.name }}</td>
                            <td>
                                <button (click)="onClickDelete(c._id)">Elimina</button>
                                <button [routerLink]="['/nuova-categoria', c._id]" class="random-btn">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button [routerLink]="['/nuova-categoria']" class="aggiungi">Nuova Categoria</button>
    </section>
</body>