.contenitore-listacomp {
  display: flex;
  justify-content: center;
}
.aggiungi {
  display: block;
  margin: auto;
}

.container {
  padding-top: 4.6rem;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.mdc-card:hover {
  background-color: rgba(211, 211, 211, 0.349);
}

.mat-divider {
  width: 99.5%;
  margin: auto;
}

.mdc-card:hover {
  background-color: rgba(211, 211, 211, 0.349);
}
