.container {
    max-width: 500px;
    margin: auto;
    padding-top: 250px;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: contents;
}

.btn-registrati {
    margin-top: 20px;
}

.btn-registrati > a {
    text-decoration: none;
    color: #3f51b5;
    font-weight: 600;
}