<!-- 
<body>
    <section>
        <div class="contenitore-listavid"> 
            <div class="scatola-listavid">
                <table>
                    <thead>
                        <tr>
                            <th>Titolo</th>
                            <th>Console</th>
                            <th>Data di uscita</th>
                            <th>Genere</th>
                            <th>Software house</th>
                            <th>Publisher</th>
                            <th>Numero di giocatori</th>
                            <th>Linguaggio:</th>
                            <th>Doppiaggio</th>
                            <th>Sottotitoli</th>
                            <th>Immagine Videogioco</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let v of videogiochi$ | async"> 
                            <td>{{ v.title }}</td>
                            <td>{{ v.category }}</td>
                            <td>{{ v.releaseDate }}</td>
                            <td>{{ v.genre }}</td>
                            <td>{{ v.softwareHouse }}</td>
                            <td>{{ v.publisher }}</td>
                            <td>{{ v.numberOfPlayers }}</td>
                            <td>{{ v.languages.voice }}</td>
                            <td>{{ v.languages.text }}</td>
                            <td>{{ v.coverImage }}</td>
                            <td>
                                <button (click)="onClickDelete(v._id)">Elimina</button>
                                <button [routerLink]="['/nuovo-videogioco', v._id]" class="edit">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button [routerLink]="['/nuovo-videogioco']" class="aggiungi">Nuovo videogioco</button>
            </div>
        </div>
    <div class="ricerca">
        <label>ricerca per keyword</label>
        <!--<select id="categoria">
            <option selected>Cerca tutto</option>
            <option value="title">titolo</option>
            <option value="category">categoria</option>
            <option value="releaseDate">data di rilascio</option>
            <option value="genre">genere</option>
            <option value="softwareHouse">Software House</option>
            <option value="publisher">publisher</option>
        </select>-->
        <input type="text" class="input" [(ngModel)]="keyRicerca">
        <button onclick=ricerca(keyRicerca)>Cerca</button>

    </div>
    </section>
</body>

-->

<div class="container">

    <section style="margin-left: .5rem;">
        <div class="example-button-row">
          <button [routerLink]="['/nuovo-videogioco']" mat-raised-button color="primary">Add Game</button>
        </div>
      </section>

    <div *ngFor="let v of videogiochi$ | async">
    
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ v.title }}</mat-card-title>
              <mat-card-subtitle>{{ v.category }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="end">
              <button mat-button (click)="onClickDelete(v._id)">DELETE</button>
              <button mat-button [routerLink]="['/nuovo-videogioco', v._id]">DETAIL</button>
            </mat-card-actions>
          </mat-card>
    
    </div>
    </div>