* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    width: 80%;
	margin: auto;
}


.list-container {
    display: flex;
    justify-content: center;
}

.list-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
}



table {
    border-collapse: collapse;
    text-align: left;
    width: 50%;
    margin-top: 2rem
}

td, th {
    padding: 20px;
}

thead {
    background: #cfcfcf;
    border-bottom: solid 5px gray;
    color: black;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background: #4bc8ad;
    color: #fff;
}

td {
    word-spacing: 0.2rem;
}

td button {
    padding: 5px 10px;
    margin-bottom: 1rem;
    background: lightcoral;
    color: #fff;
    border-color: transparent;
}

td a{
    padding: 5px 10px;
    
    background: lightcoral;
    color: #fff;
    border-color: transparent;
    text-decoration: none;
}

td button:hover{
    background: coral;
}

img {
    border-radius: 50%;
}