<body>
    <section>
        <div class="list-container">
            <div class="list-box">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Avatar</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Position</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of dati$ | async">
                            <td>{{ p.id }}</td>
                            <td>
                                <img src="{{ p.avatar }}" alt="Avatar Foto">
                            </td>
                            <td>{{ p.nome }}</td>
                            <td>{{ p.dataDiNascita }}</td>
                            <td>{{ p.professione }}</td>
                            <td>
                                <button (click)="onClickDelete(p.id)">Delete</button>
                                <a [routerLink]="['form', p.id]" (click)="onClickEdit(p.id)">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
