<div class="container">
<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <input type="text" placeholder="Titolo" formControlName="title" />

  <input
    type="text"
    placeholder="Data di pubblicazione"
    formControlName="publicationDate"
  />

  <input type="text" placeholder="Contenuto" formControlName="content" />

  <div class="form-stars-p">
    <h4>Valutazione (1/10)</h4>
    <input
      type="number"
      min="1"
      max="10"
      placeholder="6"
      formControlName="score"
    />

  </div>

  <input
    type="text"
    placeholder="Autore Recensione"
    formControlName="reviewerName"
  />

  <div formArrayName="imageUrls">
    <h3>
      URL Immagini:
      <button type="button" (click)="onAddImageUrls()">+</button>
    </h3>
    <div *ngFor="let _ of imageUrlsFormArray.controls; let i = index">
      <input
        type="text"
        [formControlName]="i"
        [placeholder]="'Immagine n°' + (i + 1)"
      />
      <button type="button" (click)="onRemoveImageUrls(i)">-</button>
    </div>
  </div>

  <div formGroupName="reviewedGame">
    <h3>Gioco Recensito</h3>
    <h4>Id:</h4>
    <input type="text" placeholder="Id" formControlName="id" />
    <h4>Nome:</h4>
    <input type="text" placeholder="Nome" formControlName="name" />
  </div>

  <button type="submit">{{ isEditMode ? "Modifica" : "Aggiungi" }}</button>
</form>
</div>

<!-- <div class="container">
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width">
        <mat-label>Data Pubblicazione</mat-label>
        <input matInput formControlName="publicationDate" />
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width">
        <mat-label>Score (1-10)</mat-label>
        <input matInput formControlName="score" />
      </mat-form-field></td>

      <td><mat-form-field class="example-full-width">
        <mat-label>Id gioco recensito</mat-label>
        <input matInput formControlName="id" />
      </mat-form-field></td>

      <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Gioco recensito</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field></td></tr>

    </tr></table>
  

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Contenuto</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St" formControlName="content"></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nome Reviewer</mat-label>
        <input matInput formControlName="reviewerName" />
      </mat-form-field></td>
    </tr></table>
  

    <div formArrayName="imageUrls">
      
      <section style="margin-left: .5rem;">
        <div class="example-label"></div>
        <div class="example-button-row">
          <button type="button" (click)="onAddImageUrls()" mat-raised-button>Add Img URL</button>
        </div>
      </section>


      <div class="flexare" *ngFor="let _ of imageUrlsFormArray.controls; let i = index">
        <input
          type="text"
          [formControlName]="i"
          [placeholder]="'Immagine n°' + (i + 1)"
          style="margin-left: .5rem; margin-right: .2rem; margin-top: .1rem;"
        />

        <section>
          <div class="example-label"></div>
          <div class="example-button-row">
            <button type="button" (click)="onRemoveImageUrls(i)" mat-stroked-button>Remove -</button>
          </div>
      </section>

      </div>
    </div>
  

    <section style="margin-left: .5rem;">
      <div class="example-button-row">
        <button type="submit" mat-raised-button color="primary">{{ isEditMode ? "Modify" : "Save" }}</button>
      </div>
    </section>
  
  </form>
</div>

-->