<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Titolo" formControlName="title" />
  <input
    type="text"
    placeholder="Data di pubblicazione"
    formControlName="publicationDate"
  />
  <input type="text" placeholder="Contenuto" formControlName="content" />

  <div class="form-stars-p">
    <h4>Valutazione (1/10)</h4>
    <input
      type="number"
      min="1"
      max="10"
      placeholder="6"
      formControlName="score"
    />
    <!--<div   [(ngModel)]="scoreRating"
      class="stars"
      [ngStyle]="{ '--rating': scoreRating ? scoreRating : 0 }"
      aria-label="Rating of this product is 2.3 out of 5."
    ></div>-->
  </div>

  <input
    type="text"
    placeholder="Autore Recensione"
    formControlName="reviewerName"
  />

  <div formArrayName="imageUrls">
    <h3>
      URL Immagini:
      <button type="button" (click)="onAddImageUrls()">+</button>
    </h3>
    <div *ngFor="let _ of imageUrlsFormArray.controls; let i = index">
      <input
        type="text"
        [formControlName]="i"
        [placeholder]="'Immagine n°' + (i + 1)"
      />
      <button type="button" (click)="onRemoveImageUrls(i)">-</button>
    </div>
  </div>

  <div formGroupName="reviewedGame">
    <h3>Gioco Recensito</h3>
    <h4>Id:</h4>
    <input type="text" placeholder="Id" formControlName="id" />
    <h4>Nome:</h4>
    <input type="text" placeholder="Nome" formControlName="name" />
  </div>

  <button type="submit">{{ isEditMode ? "Modifica" : "Aggiungi" }}</button>
</form>
