<!-- <body>
  <main class="main">
    <section class="container">
      <div class="title">
        <h2>Our reviews</h2>
        <div class="underline"></div>
      </div>
      
      <article class="review" *ngFor="let l of listaReview$ | async">
        <p id="game">{{ l.reviewedGame.name }}</p>
        <div class="imagecontainer">
          <img
            src="{{ l.imageUrls }}"
            id="person-img"
            alt="photo"
            height="70px"
            width="70px"
          />
        </div>
        
        <div
          class="stars"
          [ngStyle]="{ '--rating': l.score }"
          aria-label="Rating of this product is 2.3 out of 5."
        ></div>
        
        <h4 id="title">{{ l.title }}</h4>
        <p id="name">{{ l.reviewerName }}</p>
        <p id="date">{{ l.publicationDate }}</p>
        <p id="info">{{ l.content }}</p>
        <button [routerLink]="['/form-review', l._id]" class="random-btn">
          Modifica
        </button>
        <button (click)="onDelete(l._id)" class="random-btn">Elimina</button>
      </article>
    </section>
  </main>
</body>

-->

<div class="container">

  <section style="margin-left: .5rem;">
    <div class="example-button-row">
      <button [routerLink]="['/form-review']" mat-raised-button color="primary">Add Review +</button>
    </div>
  </section>

<div *ngFor="let l of listaReview$ | async">

      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ l.title }}</mat-card-title>
          <mat-card-subtitle>{{ "Reviewer : " + l.reviewerName }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button (click)="onDelete(l._id)">DELETE -</button>
          <button mat-button [routerLink]="['/form-review', l._id]">DETAIL</button>
        </mat-card-actions>
      </mat-card>

</div>
</div>