.container{
    padding-top: 4.6rem;
    margin: auto;
    max-width: fit-content;
}

.form{
    display: flex;
    flex-direction: column;
    width: 30rem;
}

#cont{
    height: 5rem;
}

.tag{
    padding: 0.5rem;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

  .example-form {
    min-width: 300px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .example-chip-list {
    width: 100%;
  }