<div class="container">
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Categoria</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <section style="margin-left: 0.5rem">
      <div class="example-button-row">
        <button
          mat-stroked-button
          routerLink="/lista-categorie"
          style="width: 100px"
          color="primary"
        >
          Indietro
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          style="width: 100px"
        >
          <mat-icon>save</mat-icon>
          {{ isEditMode ? "Modifica" : "Aggiungi" }}
        </button>
      </div>
    </section>
  </form>
</div>
