<body>
    <section>
        <div class="list">
            <div class="list-box">
                <table>
                    <thead>
                        <tr>
                            <th>Titolo</th>
                            <th>Categoria</th>
                            <th>Contenuto</th>
                            <th>Data Pubblicazione</th>
                            <th>Autore</th>
                            <th>Tags</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let p of dati$ | async">
                            <td>{{ p.title }}</td>
                            <td>{{ p.category }}</td>
                            <td>{{ p.content }}</td>
                            <td>{{ p.publicationDate }}</td>
                            <td>{{ p.authorName }}</td>
                            <td>{{ p.tags }}</td>
                            <td>
                                <button (click)="onClickDelete(p._id)">Delete</button>
                                <a [routerLink]="['/form-news', p._id]" (click)="onClickEdit(p._id)">Edit</a>
                            </td>

                        </tr>
    
                    </tbody>

                    <div class = "add">
                    <button [routerLink]="['/form-news']">Aggiungi News</button>
                    </div>
                   
                </table>
            </div>
        </div>
    </section>
</body>