<div class="container">

  <section style="margin-left: .5rem;">
    <div class="example-button-row">
      <button [routerLink]="['/form-news']" mat-raised-button color="primary">Add News +</button>
    </div>
  </section>

<div *ngFor="let p of dati$ | async">

      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ p.title }}</mat-card-title>
          <mat-card-subtitle>{{ p.category }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button (click)="onClickDelete(p._id)" mat-button color="warn">
            <mat-icon>delete</mat-icon>DELETE
          </button>
          <button mat-button [routerLink]="['/form-news', p._id]" (click)="onClickEdit(p._id)">
            <mat-icon>edit</mat-icon>DETAIL</button>
        </mat-card-actions>
      </mat-card>

</div>
</div>